*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    color: #fff;
    background: url('/linesbg.png') no-repeat center center;
    background-color: #171918;
    font-family: 'Poppins', sans-serif;
    margin-left: 144px;
    margin-right: 144px;
}

/* Additional CSS styles here */
.navbar {
    background-color: transparent;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #3AB8D3;
}

.navbar-nav .nav-link:hover::after {
    content: "";
    display: block;
    color: #3AB8D3;
    border-bottom: 3px solid #3AB8D3;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

.hero-section{
    margin-top: 150px;
    margin-bottom: 200px;
}

.icon-container {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3AB8D3;
}

.icon {
    width: 41px;
    height: 41px;
}

.about-section {
    margin-bottom: 200px;
}

.thank-section{
    max-width: 800px;
    width: 100%;
}

.thank-section .centered-div h1{
    font-size: 128px;
}

.thank-section .centered-div p{
    font-size: 16px;
    max-width: 558px;
    width: 100%;
}

.centered-div {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.social-icons {
    /* Add styles for your social media icons here */
}

